[Desktop Entry]
Name=FastECU
GenericName=FastECU
Comment=FastECU engine management tuning software. 
Exec=/usr/bin/flatpak run --command=FastECU --filesystem=home --device=all org.flatpak.fastecu
Terminal=false
Icon=org.flatpak.FastECU
Type=Application
X-KDE-PluginInfo-Website=http://flatpak.org
Categories=Qt;KDE;Development

