[Desktop Entry]
Name=FastECU
GenericName=FastECU
Comment=FastECU engine management tuning software. 
Exec=FastECU
Terminal=false
Icon=fi.fastecu.FastECU
Type=Application
X-KDE-PluginInfo-Website=http://flatpak.org
Categories=Qt;KDE;Utility

