[Desktop Entry]
Name=FastECU
GenericName=FastECU
Comment=FastECU engine management tuning software. 
Exec=/usr/bin/flatpak run --command=FastECU fi.fastecu.fastecu
Terminal=false
Icon=fi.fastecu.FastECU
Type=Application
X-KDE-PluginInfo-Website=http://flatpak.org
Categories=Qt;KDE;Development

